.category-container {
    display: flex;
    flex-direction: column;
}

.category-container > * {
    width: 100%;
}

.input-file {
    display:none
}

.subir {
    padding: 5px 16px;
    background: #b53f45ff;
    color: #fff;
    border: 0px solid #fff;
}