ul li {
    list-style: none;
}

.alinear {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
   font-weight: 40px;
}

.right {
    margin-left: auto;
}

mat-form-field {
    width: 100%
}

.mat-cell:nth-chield(1),
.mat-header-cell:nth-child(1){
    flex: 0 0 6%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 100px;
    margin-bottom: 20px;
  }

  .soft-orange-card {
 background-color: rgba(245, 191, 229, 0.95);
  color: #0a0302ff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(12, 12, 11, 0.25);
}

.mat-column-actions {
  width: 180px;
  text-align: center;
}

.actions-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-editar {
  background-color: #1E88E5 !important; /* Azul */
  color: white !important;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.btn-editar:hover {
  background-color: #1565C0 !important;
}

.btn-eliminar {
  background-color: #E53935 !important; /* Rojo */
  color: white !important;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.btn-eliminar:hover {
  background-color: #B71C1C !important;
}

