<div class="container text-center mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="chartContainer shadow p-3 bg-white rounded">
        <h3>Total de Estudiantes (Gráfico de Barras)</h3>
        <canvas id="canvas-bar"></canvas>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="chartContainer shadow p-3 bg-white rounded">
        <h3>Total de Estudiantes (Gráfico Circular)</h3>
        <canvas id="myChart"></canvas>
      </div>
    </div>

       <div class="col-md-4 mb-4">
      <div class="chartContainer shadow p-3 bg-white rounded">
        <h3>Total de Estudiantes (Gráfico Circular)</h3>
        <canvas id="myChart"></canvas>
      </div>
    </div>    
  </div>

  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="chartContainer shadow p-3 bg-white rounded">
        <h3>Total de Estudiantes (Gráfico de Barras)</h3>
        <canvas id="canvas-bar"></canvas>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="chartContainer shadow p-3 bg-white rounded">
        <h3>Total de Estudiantes (Gráfico Circular)</h3>
        <canvas id="myChart"></canvas>
      </div>
    </div>

       <div class="col-md-4 mb-4">
      <div class="chartContainer shadow p-3 bg-white rounded">
        <h3>Total de Estudiantes (Gráfico Circular)</h3>
        <canvas id="myChart"></canvas>
      </div>
    </div>    
  </div>

</div>
